.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.container {
  font-family: "Segoe UI";
  font-size: 12px;
  display: flex;
  flex-flow: wrap;
}

.container .btn {
  font-size: inherit;
  min-width: 100px;
  min-height: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  outline: none;
  margin-top: 15px;
}

.container button:hover {
  cursor: pointer;
}

.container button.accept {
  background-color: rgb(12, 173, 60);
}
.container button.accept:hover {
  background-color: rgb(12, 153, 50);
}

.container button.cancel {
  background-color: rgb(221, 33, 33);
}

.container button.cancel:hover {
  background-color: rgb(171, 33, 33);
}

.container .group {
  padding: 5px;
}

.container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.container .control {
  width: 100%;
  min-height: 24px;
  outline: none;
  padding: 3px;
  font-size: 12px;
  border: 1px rgb(137, 182, 233) solid;
  border-radius: 3px;
}

.container textarea {
  height: 100px;
  resize: none;
}

.records {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.records img {
  width: 40px;
  height: 40px;
  border: 3px solid #ccc;
  border-radius: 50%;
}

.card {
    border: 1px dashed #ddd;
    flex-grow: 1;
    width: 33%;
}
